<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="sm.clagenna.stdcla.utils">
	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d %-5p  %X{loginame} %-32F:%L - %m%n" />
		</Console>

		<File name="ansan" fileName="log/ansan.log" append="true">
			<PatternLayout
				pattern="%-32c  %d{yyyy-MM-dd HH:mm:ss} %-5p: %m%n %throwable{3}" />
		</File>

		<RollingFile name="rollingFile"
			fileName="log/rollansan.log"
			filePattern="log/ansan.%d{yyyy-MM-dd}.log" ignoreExceptions="false">
			<PatternLayout
				pattern="%-32c  %d{yyyy-MM-dd HH:mm:ss} %-5p: %m%n %throwable{3}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>


		<appender name="roll-by-time-and-size" class="org.apache.log4j.rolling.RollingFileAppender">
			<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
				<param name="ActiveFileName" value="log/rollTimeSizeansan.log" />
				<param name="FileNamePattern" value="log/rollTimeSizeansan_%d{HH-mm}.log" />
			</rollingPolicy>
			<triggeringPolicy
				class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
				<param name="MaxFileSize" value="100" />
			</triggeringPolicy>
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern"
					value="%-32c  %d{yyyy-MM-dd HH:mm:ss} %-5p: %m%n %throwable{3}" />
			</layout>
		</appender>


		<MioAppender name="MIOAPPENDER">
			<PatternLayout pattern="%logger(%L)\t%d\t%level\t%m%n" />
		</MioAppender>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="rollingFile" />
			<AppenderRef ref="MIOAPPENDER" />
		</Root>
	</Loggers>

</Configuration>
